.react-flow__node {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

/* .react-flow__handle-top {
  background-color: #f00;
  color: #000;
  border-color: #000;
}

.react-flow__handle-bottom {
  background-color: #00f;
  color: #000;
  border-color: #000;
} */

.button {
  background-color: #d6dce1;
  color: #000;
  border: none;
  border-radius: 4px;
  margin: 15px 5px 5px 5px;
  padding: 5px;
  width: 100px;
}

.input {
  background-color: #d6dce1;
  color: #000;
  border: none;
  border-radius: 4px;
  margin: 15px 5px 5px 5px;
  padding: 5px;
  width: 100px;
}

.dropdown {
  background-color: #d6dce1;
  color: #000;
  border: none;
  border-radius: 4px;
  margin: 15px 0px 0px 5px;
  padding: 5px;
  width: 100px;
}

.float-right {
  float: right;
}
